body {
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    background: #222;
    color: #e0e0e0;
}

h1, h2 {
    text-align: center;
    padding: 10px;
}

main {
    display: flex;
    gap: 30px;
    justify-content: center;
}

#post-section {
    width: 70%;
}

#user-section{
    width: 30%;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #334155;
    margin-bottom: 8px;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s ease;
}

li:hover {
    background: #475569;
}

#post-count {
    font-weight: bold;
    text-align: center;
    margin: 20px;
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    #post-section, #user-section {
        width: 100%;
    }
}

@media (max-width: 480px) {
    ul li {
        text-align: center;
    }
}